.container {
  text-align: center;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.spinner {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
